body {
	background-color: black;
	font-family: "Times New Roman", Times, serif;
}

a {
	color: #993333;
	font-size: 20px;
}

h1 {
	color: antiquewhite;
}

.navbar {
	background-color: #993333;
	border: solid 3px white;
}

.navbar-brand {
	/* color: black; */
	color: antiquewhite;
}

.jumbotron {
	text-align: center;
	border: solid 3px white;
	background-color: #808000;
}

.panel-body {
	background-color: #993333;
	color: black;
	border: solid 3px white;
}

p {
	color: antiquewhite;
}

a {
	color: antiquewhite;
}

.modal-header {
	background-color: white;
	color: #993333;
	border: solid 3px white;
}

.btn {
	color: #993333;
	font-size: 15px;
}
.navButton {
	font-size: 25px;
	color: antiquewhite;
}

#panelHead {
	background-color: #808000;
	border: solid 3px white;
	color:white;
	font-size: 25px;
}